    .listcourse {
        margin-top: 10px;
        .listcoure_item {
            width: 250px;
            height: auto;
            .listcourse_item_img {
                height: 160px;
            }
        }
    }
    
    @media screen and (max-width:300px) {
        .listcourse {
            .listcoure_item {
                width: auto;
            }
        }
    }